@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');


#game {
    display: none;
    position: relative;
}

/* TODO: make  title screen responsive */
/* if the viewport is larger than 768x500, show the game */
 @media (width>768px) and (height>500px) {
    #game {
        display: grid;
    }
}

/* scale the game for larger viewports */
 @media (width>960px) and (height>678px) {
    #game {
        transform: scale(1.5)
    }
}

@media (width>1280px) and (height>904px) {
    #game {
        transform: scale(2)
    }
}

/* hide the small screen and touch device warnings (on by default) for larger viewports and non touch devices */
@media (width>768px) and (height>500px) {
    #small {
        display: none;
    }
}

@media (pointer:fine) {
    #touch {
        display: none;
    }
}

/* styles for small screen warning and touch device warning */
#small,#touch {
    background: burlywood;
    z-index: calc(infinity);
    padding: 24px;
    font-size: 24px;
    position: absolute;
    align-content: center;
    text-align: center;
    inset: 0
}

/* background and global style  */
body {
    background: burlywood;
    color: #fff;
    font-optical-sizing: auto;
    -webkit-font-smoothing: none;
    overscroll-behavior: none;
    min-height: 100vh;
    place-items: center;
    font-family: 'Castoro',serif;
    font-style: normal;
    font-weight: 400;
    display: grid;
}

a {
    text-decoration: none;
    position: relative;
}

/* styles for the game room */
#room {
    z-index: 1;
    width: 640px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 5px;
}

/* global default style to normalise stuff and box sizing */
*,:after,:before {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0
}

/* global positioning for all room elements */
#room > img {
    position: absolute;
}

/* =============== NORTH ROOM ELEMENTS =============== */
#door {
    top: -50px;
    left: 15px;
}

#lock {
    top: 200px;
    left: 67px;
    width: 170px;
}

#osumi {
    top: 0;
    left: 200px;
    width: 400px;
}

/* hide all checkbox and radio input decoration, opacity 0 so it's still interactable but now fully cusotmisable */
input[type=checkbox],input[type=radio] {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: -1000px;
}

/* =============== TITLE SCREEN =============== */

/* bg image + centering */
#title {
    background-image: url('images/coverimage.png');
    background-size: cover;
    background-position: center;
    z-index: calc(infinity);
    display: grid;
    position: fixed;
    inset: 0;
    place-items: center;
    text-align: center;
}


#titleimg{
        width: 700px;
}

/* center the title */
#title > div {
    display: grid;
    justify-items: center;
}

#title [for="startgame"] {
    position: relative;
    display: inline-block;
    /* spacing between button and text */
    margin-block: 32px;
    font-size: 50px;
    animation: glow 1s ease-in-out infinite alternate;
}

/* glowing animation */
@keyframes glow {
    from {
        text-shadow: 0 0 0px #ffffff69,0 0 5px #ffffff69,0 0 10px #ffffff96,0 0 20px #ffffff96,0 0 30px #ffffff96,0 0 40px #ffffff96,0 0 50px #ffffff96;
    }
    to {
        text-shadow: 0 0 5px #ffffff69,0 0 10px #ffffff69,0 0 20px #ffffff69,0 0 30px #ffffff69,0 0 40px #ffffff69,0 0 50px #ffffff69,0 0 60px #ffffff69;
    }
}

/* change cursor on hover to indicate it's clickable */
#title [for="startgame"]:hover {
    cursor: pointer;
}

/* if start is checked, hide title screen */
body:has(#startgame:checked) #title {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}